/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the header */
header {
  background-color: transparent;
  padding: 20px;
  height: 85px;
  position: absolute; /* Position the header on top of the slideshow */
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; 
}

/* Logo styles */
.logo {
  float: left;
  font-size: 24px;
  color: #333; /* Change logo color */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Add letter spacing */
  margin-right: 20px; /* Add margin to create space between logo and list */
}

/* Navigation styles */
.nav-list {
  list-style-type: none;
  float: right;
}

.nav-list li {
  display: inline-block;
  position: relative;
}

.nav-list li a {
  color: #333; /* Change link color */
  text-decoration: none; /* Remove underline */
  font-size: 24px; /* Reduce font size */
  font-weight: 800;
  text-transform: uppercase; /* Uppercase text */
  padding: 10px 15px; /* Add padding */
  transition: color 0.3s ease; /* Smooth color transition */
  position: relative; /* Add relative positioning */
}

/* Add line styles */
.nav-list li::after {
  content: ''; /* Add empty content */
  position: absolute;
  bottom: -5px; /* Position the line below the text */
  left: 0;
  width: 100%;
  height: 3px; /* Set the height of the line */
  background-color: transparent; /* Set initial background color to transparent */
  transition: background-color 0.3s ease; /* Add transition effect */
}

/* Change line color on hover */
.nav-list li:hover::after {
  background-color: rgb(18, 168, 28); /* Change the background color of the line */
}

.nav-list li a:hover {
  color: rgb(40, 158, 11); /* Change link color on hover */
}

/* Styles for the active link */
.nav-list li.active a {
  color: rgb(40, 158, 11); /* Change color of active link */
}

/* Remove line from specific anchor */
.nav-list li.donate::after {
  text-decoration: none; /* Remove underline */
  width: 0%;
}

/* Button styles */
button {
  border-radius: 25px;
  background-color: green;
  color: white;
  font-weight: bold;
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  font-size: 18px; /* Reduce font size */
  text-transform: uppercase; /* Uppercase text */
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: rgb(18, 168, 28); /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .nav-list li {
    display: block; /* Change to block layout on smaller screens */
    margin: 10px 0; /* Adjust margin */
  }

  .nav-list li a {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 8px 12px; /* Adjust padding */
  }

  .logo {
    float: none; /* Remove float */
    text-align: center; /* Center logo */
  }
}

/* Styles for the search container */
.search-container {
  position: absolute; /* Position the search container relative to the header */
  top: 120px; /* Adjust the distance from the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 3; /* Ensure the search container appears above the navbar */
  background-color: #f2f2f2;
  padding: 20px;
}

#searchInput {
  height: 60px;
  padding: 8px;
  width: 600px;
  font-size: 45px;
  border-radius: 25px;
}

.read-more-btn {
  position: absolute; /* Position the button absolutely */
  bottom: 20px; /* Adjust the distance from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #4CAF50; /* Green background color */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  font-size: 24px; /* Font size */
  border-radius: 10px; /* Add border radius */
  cursor: pointer; /* Add cursor pointer */
  z-index: 1; /* Ensure the button appears above the plant content */
}

/* Hover effect */
.read-more-btn:hover {
  background-color: #45a049; /* Darker green */
}

/* Plant Info Page Styles */
.main-content {
  background-color: #f2f2f2; /* Change the color code to the desired shade of grey */
  padding-top: 150px;
}

.plants-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 150px;
  margin-left: 15px;
  margin-right: 15px;
  gap: 120px;
}

.plant {
  text-align: center;
  margin-bottom: 20px;
  width: 450px; /* Adjust width as needed */
  padding: 20px;
  height: 800px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; /* Add transition effect */
  background-color: white;
}

.plant:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Change box shadow on hover */
}

.highlight {
  background-color: #ffff99; /* Yellow background */
}

.plant img {
  width: 100%;
  height: 280px;
  border-radius: 10px; /* Apply border radius to image */
  margin-bottom: 10px;
}

.plant h2 {
  font-size: 52px;
  margin-bottom: 12px;
  color: rgb(0, 128, 0); /* Adjust color as needed */
}

ul {
  text-align: left;
  list-style-type: circle;
  padding-left: 10px;
  height: 200px;
}

li {
  font-size: 26px;
}

/* Styles for footer */
footer {
  background-color: rgb(7, 54, 9);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-nav {
  list-style-type: none;
}

.footer-nav li {
  display: inline;
  margin-left: 20px;
}

.pol {
  color: white;
}

.footer-nav li a {
  color: white;
  text-decoration: none;
  font-size: 48px;
}
